@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:wght@300;400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

:root {
  --bg-color: #232323;
  --second-bg-color: #2b2b2b;
  --text-color: #e0e0e0;
  --second-color: #d2d2d2;
  --main-color: rgb(183, 3, 3);
  --big-font: 5rem;
  --h2-font: 3rem;
  --p-font: 1.1rem;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Home section */

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 22px 10%;
}

span {
  color: var(--main-color);
}

.navlist {
  display: flex;
  padding-bottom: 6px;
}

.navlist a {
  color: var(--second-color);
  font-size: 17px;
  font-weight: 500;
  margin: 0 25px;
}

.navlist a:hover {
  color: var(--main-color);
}

.navlist a.active {
  color: aqua;
  border: 2px solid aqua;
  border-radius: 5px;
  padding: 5px;
}

#menu-icon {
  font-size: 35px;
  color: var(--text-color);
  z-index: 1000;
  cursor: pointer;
  margin-left: 25px;
  display: none;
}

section {
  padding: 0;
}

.home {
  padding-top: 100px;
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
}

.header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: x-large;
  letter-spacing: 2px;
  padding-top: 10px;
}

.header-icon {
  display: flex;
  gap: 20px;
  padding-left: 190px;
  padding-top: 10px;
}

.header-img {
  padding-left: 70px;
}

/* about section */
.about {
  padding-top: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 5rem;
}

.about-img img {
  max-width: 530px;
  height: auto;
  width: 100%;
  border-radius: 5px;
  padding-left: 150px;
}
.about-text {
  padding-right: 170px;
}
.about-text h2 {
  font-size: var(--h2-font);
  line-height: 1;
}

.about-text h4 {
  font-size: 24px;
  font-weight: 600;
  color: var(--text-color);
  line-height: 1.7;
  margin: 15px 0 20px;
}

.about-text p {
  color: var(--second-color);
  font-size: var(--p-font);
  font-family: 'Times New Roman', Times, serif;
  line-height: 2;
  margin-bottom: 4rem;
}

.btn {
  display: inline-block;
  padding: 12px;
  background: var(--main-color);
  border-radius: 5px;
  color: var(--text-color);
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 500;
  cursor: pointer;
  border: none;
}

/* Skills */
.skills {
  padding-top: 100px;
}

.main-text {
  text-align: center;
}

.main-text h2 {
  font-size: var(--h2-font);
  margin-top: 30px;
}

.skills-icon {
  padding-top: 35px;
  display: flex;
  gap: 10rem;
  margin-left: 300px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.skills-icon img {
  transition: transform 0.3s ease;
}

.skills-icon img:hover {
  transform: scale(1.5);
  cursor: pointer;
}

/* Projects */
.projects {
  padding-top: 55px;
  margin-left: 90px;
  margin-right: 90px;
}

.projects .main-text h2 {
  padding-bottom: 0px;
}

.projects-content {
  display: grid;
  grid-template-columns: repeat(2, minmax(350px, auto));
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
}

.row {
  position: relative;
  overflow: hidden;
}

.row img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: block;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgb(183, 3, 3));
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px;
  transition: height 0.5s ease;
}

.layer h5 {
  margin-top: 2px;
  font: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.layer p {
  color: var(--second-color);
  font-size: 1rem;
  line-height: 1.8;
}

.layer i {
  color: var(--main-color);
  margin-top: 20px;
  font-size: 20px;
  background: var(--text-color);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.row:hover img {
  transform: scale(1.1);
}

.row:hover .layer {
  height: 100%;
}

/* Contact */
.contact {
  background-color: var(--second-bg-color);
  margin-top: 40px;
}

.contact-section {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.contact-two {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20rem;
  padding-bottom: 75px;
}

.contact-text {
  line-height: 3;
}

.end-text {
  line-height: 1.5;
  padding-top: 15px;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 20px;
}

.bg {
  border: none;
  background-color: #454545;
  height: 30px;
  width: 20rem;
  border-radius: 2px;
}

.bg::placeholder {
  color: #fff;
  padding: 10px;
}

.height {
  height: 70px;
  overflow: hidden;
}

.input-field .btn {
  margin-top: 10px;
}

@media (max-width: 1024px) {
  header {
    padding: 20px 5%;
  }

  .navlist a {
    font-size: 15px;
    margin: 0 15px;
  }

  .about {
    gap: 3rem;
    grid-template-columns: 1fr;
    text-align: center;
  }

  .about-img img {
    padding-left: 0;
  }

  .about-text {
    padding-right: 0;
  }

  .skills-icon {
    gap: 5rem;
    margin-left: 0;
    justify-content: center;
  }

  .projects-content {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 0;
    margin-right: 0;
  }

  .contact-two {
    flex-direction: column;
    gap: 2rem;
  }

  .contact-text {
    text-align: center;
  }

  .input-field {
    padding-left: 18rem;
  }

  .input-field .btn {
    margin-left: 7.5rem;
  }
}

@media (max-width: 768px) {
  header {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .navlist {
    display: none;
    flex-direction: column;
    position: absolute;
    gap: 4px;
    top: 70%;
    left: 0;
    width: 100%;
    background: var(--bg-color);
    z-index: 999;
    text-align: center;
    padding-bottom: 10px;
  }

  .navlist a {
    font-size: 18px;
    margin: 10px 0;
    text-align: center;
  }

  .navlist a.active {
    color: var(--second-color);
    border: none;
  }

  #menu-icon {
    display: block;
  }

  .navlist.active {
    display: flex;
  }

  .home {
    flex-direction: column;
    text-align: center;
    padding: 0 20px;
  }

  .header-img img {
    width: 500px;
    height: auto;
    padding-right: 70px;
  }

  .header-text {
    font-size: larger;
  }

  .header-icon {
    justify-content: center;
    padding-left: 0;
  }

  .about-img img {
    max-width: 80%;
    margin: auto;
  }

  .skills-icon {
    gap: 2rem;
    flex-wrap: wrap;
  }

  .projects-content {
    grid-template-columns: 1fr;
  }

  .layer h5 {
    font: 10px;
    margin-bottom: 5px;
  }

  .layer p {
    font-size: 0.7rem;
  }

  .layer i {
    margin-top: 5px;
    font-size: 15px;
    background: var(--text-color);
    width: 32px;
    height: 32px;
  }

  .contact-two {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  .input {
    width: 90%;
    padding-right: 13rem;
  }

  .input-field .btn {
    margin-right: 24rem;
  }

  .bg {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .home {
    padding-top: 0px;
    font-size: 0.9rem;
  }

  .header-text {
    font-size: medium;
  }

  .header-img {
    padding-right: 4rem;
  }

  .about-text h2 {
    font-size: 1.8rem;
  }

  .about-text p {
    font-size: 1rem;
  }

  .projects-content {
    margin-top: 2rem;
  }

  .contact-two {
    padding-right: 10px;
  }
}
